# Ignore everything
/*

# Do not ignore .gitignore file itself
!.gitignore

# Do not ignore the Codes directory
!Codes/

# Ignore everything inside Codes directory except its content
/Codes/*
!/Codes/src/
